@import './common';
@import './base/reset-styles';
@import './base/base-styles';
@import './utils/vars';
@import './utils/visually-hidden';
@import './utils/mixin';
@import './components/mobile-menu';
@import './components/button';
@import './components/header';
@import './components/hero';
@import './components/product';
@import './components/about';
@import './components/advantages';
@import './components/reviews';
@import './components/contacts';
@import './components/footer';

// Styles Modal

@import './components/modal/styles-modal-all';
@import './components/modal/buy-modal';
@import './components/modal/franchise-modal';
@import './components/modal/modal-ingredients';
@import './components/modal/our-locations-modal';
@import './components/modal/products-modal';
@import './components/modal/read-more';
