<div class="modal read" data-modal="5">

  <button class="read__close-btn js-modal-close">
    <svg class="read__icon close-icon" width="20" height="20">
      <use href="/src/images/buy-modal/close.svg#icon-close"></use>
    </svg>
  </button>
  <h2 class="read__tittle">How it’s made?</h2>
  <div class="read__video-wraper">
    <iframe
      class="read__video"
      width="224"
      height="199"
      src="/src/video/cow.mp4"
      frameborder="0"
    ></iframe>
  </div>


    <iframe
      class="read__video"
      width="auto"
      height="auto"
      src="/src/video/cow.mp4"
      frameborder="0"
    ></iframe>

    <p class="read__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
