<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="adv adv__grid">
      <div class="adv__card">
        <svg class="adv__svg" width="50" height="50" aria-label="icon cow">
          <use href="./images/icon-sprite.svg#icon-cow"></use>
        </svg>
        <p class="adv__value">721</p>
        <p class="adv__text">
          Aliquam ac dui vel dui vulputaпte consectetur. Mauris massa.
        </p>
      </div>
      <div class="adv__card">
        <svg class="adv__svg" width="50" height="50" aria-label="icon cow">
          <use href="./images/icon-sprite.svg#icon-weight"></use>
        </svg>
        <p class="adv__value">16kg</p>
        <p class="adv__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
      <div class="adv__card">
        <svg class="adv__svg" width="50" height="50" aria-label="icon cow">
          <use href="./images/icon-sprite.svg#icon-ice"></use>
        </svg>
        <p class="adv__value">84</p>
        <p class="adv__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </div>
  </div>
</section>
