<footer class="footer">
	<div class="container line">
		<div class="footer__title-box">
	<h2 class="footer__title">homemade ice cream made</h2>
	<p class="footer__description">with passion</p>
		</div>
	<div class="footer__nav">
	<ul class="footer__socials">
		<li class="footer__item">
			<a class="footer__link" href="#">
			<svg class="footer__socials-icon" width="20" height="20">
				<use href="./src/images/icon-sprite.svg#github"></use>
			</svg>
		</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" href="#">
			<svg class="footer__socials-icon" width="21" height="16">
				<use href="./src/images/icon-sprite.svg#telegram"></use>
			</svg>
		</a>
		</li>
		<li class="footer__item">
			<a class="footer__link" href="#">
			<svg class="footer__socials-icon" width="10" height="34">
				<use href="./src/images/icon-sprite.svg#facebook"></use>
			</svg>
		</a>
		</li>
	</ul>
	<div class="contacts">
		<p class="footer__text">Feel free to contact<span><a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766 284</a></span></p>
	</div>
	</div>
	</div>
	<div class="trademark-container">
		<p class="trademark">© 2022 - IceCream. All Rights Reserved.</p></div> 
</footer>