<section class="hero">
    <div class="container container__hero">
        <h1 class="hero__title">ice cream</br>made with</br><span class="hero__title--biggest-font">passion</span></h1>

<!-- selling-points -->

    <ul class="selling-points">
        <li class="selling-points__item"><span class="selling-points__number">16</span></br>cafes</li>
        <li class="selling-points__item"><span class="selling-points__number">23</span></br>food trucks</li>
    </ul>
    
    <ul class="hero__buttons">
        <li><a class="button__product" href="#product">Products</a></li>
        <li><a class="button__made" href="#about">How it’s made?</a></li>
    </ul>

<!-- a lot of ice-cream -->

    <div class="thumb">
        <img class="thumb__img" 
        srcset="
        ./images/hero/a-lot-of-ice-cream-tablet.png 152w,
        ./images/hero/a-lot-of-ice-cream-tablet@2x.png 304w,
        ./images/hero/a-lot-of-ice-cream-desktop.png 225w,
        ./images/hero/a-lot-of-ice-cream-desktop@2x.png 450w" 
        src="./images/hero/a-lot-of-ice-cream-tablet.png" alt="A lot of ice-cream" 
        sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px">
        <div class="thumb__text">
            <p>Ice cream is a mixture of milk, cream, sugar, and sometimes other ingredients that has been frozen into a soft</p>
        <button class="thumb__button">
          <svg class="thumb__icon" width="40" height="16">
            <use href="./images/product/icon-sprite.svg#icon-Arrow"></use>
          </svg>
          </button>
        </div>
    </div>

    <div class="hero__img">
        <img
            srcset="
            ./images/hero/mobile.png 177w,
            ./images/hero/mobile@2x.png 354w,
            ./images/hero/tablet.png 268w,
            ./images/hero/tablet@2x.png 536w,
            ./images/hero/desktop.png 456w,
            ./images/hero/desktop@2x.png 912w" 
            src="./images/hero/mobile.png" 
            alt="Ice-cream" 
            sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, 177px">
    </div>
    </div>
</section>