<section class="hero">
    <div class="container">
        <h1 class="hero__title">ice cream</br>made with</br><span class="hero__title--biggest-font">passion</span></h1>

    <ul class="selling-points">
        <li class="selling-points__item"><span class="selling-points__number">16</span>cafes</li>
        <li class="selling-points__item"><span class="selling-points__number">23</span>food trucks</li>
    </ul>
    
    <ul class="hero__buttons">
        <li><a class="button__product" href="">Products</a></li>
        <li><a class="button__made" href="">How it’s made?</a></li>
    </ul>
    <!-- <div class="thumb">
        <img class="thumb__img" src="" alt="A lot of ice-cream" width="">
        <p class="thumb__text"></p>
    </div> -->
    <div class="hero__img">
        <img
            srcset="
            ./images/hero/mobile.png 177w,
            ./images/hero/mobile@2x.png 354w,
            ./images/hero/tablet.png 268w,
            ./images/hero/tablet@2x.png 536w,
            ./images/hero/desktop.png 456w,
            ./images/hero/desktop@2x.png 912w" 
            src="./images/hero/mobile.png" 
            alt="Ice-cream" 
            sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, 177px">
    </div>
    </div>
</section>