<section class="reviews" data-slider="reviews-slider">
    <div class="container">
        <h2 class="visually-hidden">Reviews</h2>
        <div class="slider-img">
            <ul class="slider-img__items list">
                <li class="slider-img__item">
                    <img 
                        srcset="
                            ./images/reviews/mob.jpg      280w,
                            ./images/reviews/tablet.jpg      704w,
                            ./images/reviews/desk.jpg    1013w,
                            ./images/reviews/mob@2x.jpg   560w,
                            ./images/reviews/tablet@2x.jpg  1408w,
                            ./images/reviews/desk@2x.jpg 2026w
                        "
                        sizes="
                            (min-width: 1200px) 1013px,
                            (min-width: 768px) 704px, 
                            (min-width: 480px) 280px, 100vw
                        "
                        src="./images/reviews/mob.jpg"
                        alt="Ice berries"
                        class="slider__img"
                    >
                </li>
            </ul>
        </div>
        <div class=" slider-ppl">
            <div class="swiper slider-ppl__wrap">
                <ul class="swiper-wrapper slider-ppl__items list">
                    <li class="swiper-slide slider-ppl__item">
                        <div class="reviewer">
                            <img src="/src/images/reviews/emily-1.jpg" alt="Emily" class="reviewer__img">
                            <div class="reviewer_wrap">
                                <p class="reviewer__comment">I love visiting your cafe. You prepare the most delicious ice
                                cream in Los Angeles! In addition, you have beautiful serving,
                                cozy atmosphere and polite staff.</p>
                            </div>
                            <p class="reviewer__info">Emily, Los Angeles</p>
                        </div>
                    </li>
                    <li class="swiper-slide slider-ppl__item">
                        <div class="reviewer">
                            <img src="/src/images/reviews/bryan.jpg" alt="Emily" class="reviewer__img">
                            <div class="reviewer_wrap">
                                <p class="reviewer__comment">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                            </div>
                            <p class="reviewer__info">Bryan, New-York</p>
                        </div>
                    </li>
                    <li class="swiper-slide slider-ppl__item">
                        <div class="reviewer">
                            <img src="/src/images/reviews/diana.jpg" alt="Emily" class="reviewer__img">
                            <div class="reviewer_wrap">
                                <p class="reviewer__comment">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                            </div>
                            <p class="reviewer__info">Diana, Chicago</p>
                        </div>
                    </li>
                </ul>
                <ul class="swiper-pagination reviews__pagination"></ul>
            </div>
        </div>
    </div>    
</section>

