.line {
	border-bottom: 1px solid $line;

	@media screen and (min-width: 320px) and (max-width: 480px) {
		margin: 0;
	}

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.footer {
	background-color: $background-color;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

.footer__title-box {
	display: flex;
	flex-direction: column;
}

.footer__title {
	display: flex;
	width: 232px;
	margin-bottom: 16px;

	font-weight: 700;
	font-size: 18px;
	line-height: calc(22 / 18);
	text-transform: uppercase;

	color: $second;

	@media screen and (min-width: 768px) {
		width: 352px;
		font-size: 26px;
		line-height: calc(32 / 26);
		letter-spacing: 0.04em;

		margin-bottom: 8px;
	}

	@media screen and (min-width:1200px) {
		width: 504px;
		font-weight: 400;
		font-size: 30px;
		line-height: calc(37 / 30);

		margin-bottom: 14px;
	}

}

.footer__description {
	display: flex;
	width: 200px;

	font-weight: 700;
	font-size: 34px;
	line-height: calc(41 / 34);
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-bottom: 60px;

	color: $second;

	@media screen and (min-width: 768px) {
		width: 352px;

		font-size: 48px;
		line-height: calc(59 / 48);
		letter-spacing: 0.06em;
		margin-bottom: 32px;
	}

	@media screen and (min-width: 1200px) {
		width: 497px;
		font-size: 57px;
		line-height: calc(71 / 58);
		margin-bottom: 60px;
	}
}

.footer__nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@media screen and (min-width: 768px) {
		justify-content: center;
	}
}

.footer__socials {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;

	@media screen and (min-width:768px) {
		margin-bottom: 32px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 40px;
	}
}

.footer__item {
	list-style: none;
	margin-right: 20px;
	width: 34px;
	height: 34px;

	&:last-child {
		margin-right: 0;
	}

	@media screen and (min-width: 480px) {
		margin-right: 30px;
	}
}

.footer__socials-icon {
	fill: $background;

}

.footer__link {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $accent;
	border-radius: 50%;

	transition: transform $duration-function $timing-function;

	&:hover,
	&:focus{

		fill: $second;
		transform: scale(1.2);
	}

	&:hover .footer__socials-icon,
	&:focus .footer__socials-icon{
		fill:inherit;
	}

}



.contact {
	margin-bottom: 40px;

	@media screen and (min-width: 768px) {
		margin-bottom: 0;
	}
}

.footer__text {
	display: flex;
	justify-content: flex-end;
	text-align: right;

	font-weight: 700;
	font-size: 12px;
	line-height: calc(22 / 12);

	color: $main;

	@media screen and (min-width: 768px) {
		font-size: 16px;
		line-height: calc(26 / 16);
	}

	@media screen and (min-width: 1200px) {
		font-size: 16px;
		line-height: calc(30 / 16);

		letter-spacing: 0.02em;
	}
}

.footer__tel {
	margin-left: 4px;
	color: $second;
}

.trademark-container {
	display: flex;
	justify-content: center;
}

.trademark {
	width: 158px;
	margin: 0;
	padding-top: 27px;
	padding-bottom: 20px;
	text-align: center;

	font-weight: 700;
	font-size: 15px;
	line-height: calc(21 / 14);

	color: $accent-footer;

	@media screen and (min-width: 768px) {
		width: 298px;
		font-size: 14px;
		line-height: calc(26 / 14);
		padding-top: 12px;
		padding-bottom: 12px;
	}

	@media screen and (min-width: 1200px) {
		width: 255px;
		font-size: 12px;
		line-height: calc(22 / 12);

		letter-spacing: 0.02em;
	}
}