.modal-franchise__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  @media screen and (min-width: 768px) {
      max-width: 568px;
    }
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  background-color: inherit;

  &:hover,
  &:focus {
    fill: $accent;
  }
}

.modal-franchise__title {
  max-width: 322px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
  }
}

.modal-franchise__text {
  text-align: left;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: normal;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.modal-franchise__form {
  display: flex;
  flex-direction: column;
  max-width: 368px;
  margin: 0 auto;
  
  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.modal-franchise__input {
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.modal-franchise__input::placeholder {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: $basic-black;
}

.modal-franchise__comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 12px;
  width: 100%;
  height: 84px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.modal-franchise__comment::placeholder {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: $basic-black;
}

.modal-franchise__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 34px;
  width: 132px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: $basic-black;
  background-color: $basic-yellow;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

.modal-franchise__btn:hover,
.modal-franchise__btn:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}