.modal-ing {
  overflow-y: auto;
  padding: 28px 20px;
  min-width: 280px;
  max-height: 100%;
}

.ing-title {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 142px;
  color: $basic-black;
  font-family: 'Seymour One';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.ing-img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.ing-img-card {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  width: 132px;
  height: 132px;
}

.ing-img-card::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: 7px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.ing-shift-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 10px;
}

.ing-shift-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 8px;
  text-align: center;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ing-shift-text {
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 1.2;

  color: $basic-black;
}

.ing-shift-inside {
  position: relative;
  top: -2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 43px;
  height: 43px;
  background-color: $modal-green;
  border: 2px solid $modal-green;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.ing-shift-value {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;

  color: $basic-black;
}

.ing-text {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  color: $basic-black;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 40px;
}

.ingredients-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredients-text {
  justify-self: baseline;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;

  color: $basic-black;
}

.ing-form {
  display: flex;
  flex-direction: column;
}

.ing-form-input {
  margin-bottom: 16px;
  padding: 11px;
  width: 270px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;
  outline: none;
}

.ing-form-input,
.ing-form-comment {
  @media screen and (max-width: 340px) {
    width: 100%;
    min-width: none;
  }
}

.ing-form-input::placeholder {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: $basic-black;
}

.ing-form-comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 11px;
  min-width: 270px;
  height: 84px;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $background-color;
  border-radius: 10px;
  outline: none;
}

.ing-form-comment::placeholder {
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.4;
  color: $basic-black;
}

@media screen and (min-width: 768px) {
  .modal-ing {
    max-width: 568px;
    padding: 32px 40px;
  }

  .ing-title {
    margin-bottom: 24px;
    max-width: 100%;
  }

  .ing-img-card {
    margin-bottom: 24px;
  }

  .ing-shift-list {
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
  }

  .ing-shift-item {
    padding-bottom: 14px;
    width: 65px;
    height: 90px;
  }

  .ing-shift-text {
    font-size: 12px;
    line-height: 1.25;
  }

  .ing-shift-inside {
    width: 53px;
    height: 53px;
  }

  .ing-shift-value {
    font-size: 12px;
    line-height: 2.33;
  }

  .ingredients-list {
    margin-bottom: 48px;
  }

  .ing-form {
    align-items: center;
  }

  .ing-form-input {
    padding-left: 16px;
    width: 368px;
  }

  .ing-form-comment {
    margin-bottom: 32px;
    padding-left: 16px;
    width: 368px;
  }
}
