.read {
  // position: absolute;
  background-color: $second;
  border: 2px solid $accent;
  border-radius: 10px;
  // top: 50%;
  // left: 50%;
  transform: scale(1);
  transition: transform $duration-function $timing-function;

  @media screen and (min-width: 480px) {
    // top: 0;
    width: 280px;
    height: 459px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 449px;
  }
  &__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    fill: $main;
    background-color: $second;

    &:hover > .close-icon,
    &:focus > .close-icon {
      fill: $accent;
    }
  }
  &__tittle {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #131313;
    margin-bottom: 20px;
  }
}

.read__video {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-height: 100%;
}

.read__description {
  font-size: 14px;
  line-height: calc(20 / 14);
  color: #131313;
  margin-top: 32px;
}
